<header id="header">
    <div class="header-content-right">
        <a href="/">
            خانه
            <i class="fa fa-home"></i>
        </a>
        <a href="{% url 'music:musics_list' %}">
            موزیکها
            <i class="fa fa-music"></i>
        </a>
        <a href="#">
            خواننده ها
            <i class="fa fa-microphone"></i>
        </a>
        <a href="#">
            نمودار ها
            <i class="fa fa-bar-chart"></i>
        </a>
        <a href="#">
            تاریخچه
            <i class="fa fa-list"></i>
        </a>
    </div>
    <div>
        <p class="logo-text">
            Crawler
            <br>
            &nbsp;
            Musicdar
        </p>
    </div>
</header>